
.optionsbtn{
    margin: 5px;
}

.placeholderimg{
    margin-top: 20px;
}

.feedtitle{
    font-weight: bold;
}

.spacer{
    margin-bottom: 1em;
}

.input-container{
    display: inline-block;
    width: 75%;
}

.btn-container{
    display: inline-block;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
   
    .feedtitle{
       text-align: center;
    }

    .input-container{
        display: block;
        width: 100%;
    }

    .btn-container{
        display: block;
        margin-top: 15px;
    }
}