<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/javascripts/jquery-3.2.1.min.js' /></script>
    <script src='/javascripts/bootstrap/bootstrap.min.js' /></script>
    <script src='/javascripts/rssLoader.js'></script>
    <script src='/javascripts/bindings.js'></script>
    <script src='/javascripts/site.js' /></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
